@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,600;0,800;0,900;1,900&display=swap');

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin: 0 10px;
  }
   
ol{
    list-style: none;
}  
.log{
    color: red;
}
.tip{
    color: red;
}
.header-title{
    padding: 20px 20px;
    margin: top 20px; ;
}
body{
    background: #998989;
}
.content{
    background: #776b6b;
}
a:hover {
    color: red;
}
button .down{
    padding: 23px;
    border: 2px solid white;
}
h3{
    font-family: 'Jost', sans-serif;
}
