@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;0,600;0,800;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
ol{
    list-style: none;
}  
.log{
    color: red;
}
.main{
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    width: 360px;
    height: min-content;
    padding: 70px;
    border-radius: 15px;
    background: #817d7d;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 12px;
}
.main form input[type="submit"]{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 85px;
    margin-bottom: 20px;
}
.tip{
    color: red;
}
.header-title{
    padding: 20px 20px;
    margin: top 20px; ;
}
body{
    background: #998989;
}
.content{
    background: #776b6b;
}
a:hover {
    color: red;
}
button .down{
    padding: 23px;
    border: 2px solid white;
}
h3{
    font-family: 'Jost', sans-serif;
}

